<%- include("header") %>

    <section class="content-main">
        <form action="/admin/editProduct/<%= products._id %>" method="POST" enctype="multipart/form-data"
            onsubmit="return editProductValidate()">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up" id="publishButton">Publish</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_name"
                                    name="product_name" value="<%= products.product_name %>" required>
                                <div id="productNameError" class="error-message"></div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" id="description"
                                    name="description" required><%= products.description %></textarea>
                                <div id="descriptionError" class="error-message"></div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Regular price</label>
                                        <div class="row gx-2">
                                            <input placeholder="$" type="text" class="form-control" id="regular_price"
                                                name="regular_price" value="<%= products.regular_price %>" required>
                                        </div>
                                        <div id="regularPriceError" class="error-message"></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Sales price</label>
                                        <input placeholder="$" type="text" class="form-control" id="sales_price"
                                            name="sales_price" value="<%= products.sales_price %>" required>
                                        <div id="salesPriceError" class="error-message"></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Stock</label>
                                        <input placeholder="0" type="text" class="form-control" id="stock" name="stock"
                                            value="<%= products.stock %>" required>
                                        <div id="stockError" class="error-message"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 mb-3">
                                    <label class="form-label">Brand</label>
                                    <select name="brand" id="brand" class="form-select" required>
                                        <option>
                                            <%= products.brand%>
                                        </option>
                                        <% brands.forEach(function(brand) { %>
                                            <option value="<%= brand._id %>">
                                                <%= brand.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <div id="brandError" class="error-message"></div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label class="form-label">Category</label>
                                    <select name="category" id="category" class="form-select" required>
                                        <option>
                                            <%= products.category%>
                                        </option>
                                        <% categories.forEach(function(category) { %>
                                            <option value="<%= category._id %>">
                                                <%= category.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <div id="categoryError" class="error-message"></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="input-upload">
                                <img src="productsImages/<%= products.image[0] %>" id="imgView1" alt="">
                                <input class="form-control" id="input1" name="images" onchange="viewImage1(event)"
                                    type="file">
                            </div>

                            <% if (products.image[0] !== null) { %>
                            <div class="my-div">
                                <a href="/admin/removeImage?productId=<%= products._id %>&imageIndex=0"
                                    class="btn btn-danger btn-sm mt-2 remove-button" data-image-filename="">
                                    <span style="font-size: 12px; padding: 5px 10px;">Remove</span>
                                </a>
                            </div>
                            <% } %>
                        </div> <!-- card end// -->

                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="input-upload">
                                <img src="/productsImages/<%= products.image[1] %>" id="imgView2" alt="">
                                <input class="form-control" id="input2" name="images" onchange="viewImage2(event)"
                                    type="file">
                            </div>

                            <% if (products.image[1] !== null) { %>
                            <div class="my-div">
                                <a href="/admin/removeImage?productId=<%= products._id %>&imageIndex=1"
                                    class="btn btn-danger btn-sm mt-2 remove-button" data-image-filename="">
                                    <span style="font-size: 12px; padding: 5px 10px;">Remove</span>
                                </a>
                            </div>
                            <% } %>
                        </div> <!-- card end// -->

                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="input-upload">
                                <img src="/productsImages/<%= products.image[2] %>" id="imgView3" alt="">
                                <input class="form-control" id="input3" name="images" onchange="viewImage3(event)"
                                    type="file">
                            </div>

                            <% if (products.image[2] !== null) { %>
                            <div class="my-div">
                                <a href="/admin/removeImage?productId=<%= products._id %>&imageIndex=2"
                                    class="btn btn-danger btn-sm mt-2 remove-button" data-image-filename="">
                                    <span style="font-size: 12px; padding: 5px 10px;">Remove</span>
                                </a>
                            </div>
                            <% } %>
                        </div> <!-- card end// -->

                    </div>
                </div>
            </div>
        </form>
    </section>

    <script>
        function viewImage1(event) {
            document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0]);
        }

        function viewImage2(event) {
            document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[0]);
        }

        function viewImage3(event) {
            document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[0]);
        }
    </script>


    <%- include("footer") %>