<%-include("header")-%>

    <!-- Template CSS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

    <main class="main">

        <section class="home-slider position-relative">
            <div class="hero-slider-1 style-2 dot-style-1 dot-style-1-position-1">


                <!-- static banner -->
                <div style="position: relative;">
                    <img class="animated" src="assets/imgs/slider/slide10.webp" alt="" style="width: 100%;">
                    <div class="hero-slider-content-2"
                        style="position: absolute; top: 40%; left: 70%; transform: translate(-50%, -50%); padding: 10px; font-size: 20px;">
                        <h5 class="animated" style="color: whitesmoke">Upcoming Offer</h5>
                        <h3 class="animated fw-900" style="color: whitesmoke">Big Deals From</h3>
                        <h2 class="animated fw-900 text-brand">Manufacturer</h2>
                        <p class="animated">Men watches, Women's watches, Vintage and more...</p>
                        <a class="animated btn btn-brush btn-brush-3" href="/shop"
                            style="color: whitesmoke"> Shop Now
                        </a>
                    </div>
                </div>

                <%Banners.forEach(banner=>{%>
                    <%if(!banner.unlist){%>
                <div style="position: relative;">
                    <img class="animated" src="/bannerImages/<%= banner.image %>" alt="" style="width: 100%;">
                    <div class="hero-slider-content-2"
                        style="position: absolute; top: 40%; left: 19%; transform: translate(-50%, -50%); padding: 10px; font-size: 20px;">
                        <h5 class="animated"><%= banner.name %></h5>
                        <h3 class="animated fw-900"><%= banner.discription%></h3>
                        <h2 class="" style="color: #ceb97a;">Manufacturer</h2>
                        <p class="animated">Men watches, Women's watches, Vintage and more...</p>
                        <a class="animated btn btn-brush btn-brush-3" href="/shop"> Shop Now
                        </a>
                    </div>
                </div>
                <% }  %>
                <%})%>

            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        <br>

        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                aria-labelledby="tab-one">
                                <div class="row product-grid-4">

                                    <h3 class="section-title mb-20"><span style="color: #ceb97a;">New</span> Arrivals
                                    </h3>

                                    <% products.forEach(products=> { %>
                                        <% if (products.unlist !==true) { %>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/productDetails?product_id=<%= products._id %>">
                                                                <img class="default-img"
                                                                    src="/productsImages/<%=products.image[0]%>" alt="">
                                                                <img class="hover-img"
                                                                    src="/productsImages/<%=products.image[1]%>" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <!-- <a aria-label="Quick view" class="action-btn hover-up"
                                                        data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                            class="fi-rs-eye"></i></a> -->
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                            onclick="addToWishList('<%=products._id%>')"><i
                                                                    class="fi-rs-heart"></i></a>
                                                            <!-- <a aria-label="Compare" class="action-btn hover-up"
                                                        href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                                        </div>
                                                        <div
                                                            class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="new" style="color: black;">New</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="shop-grid-right.html">
                                                                <%=products.category%>
                                                            </a>
                                                        </div>
                                                        <h2><a href="shop-product-right.html">
                                                                <%=products.brand%>
                                                            </a></h2>
                                                        <!-- <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>25%</span>
                                                    </span>
                                                </div> -->
                                                        <div class="product-price">
                                                            <span style="color: black">₹<%=products.sales_price%>
                                                            </span>
                                                            <span class="old-price" style="color: black">₹
                                                                <%=products.regular_price%></span>
                                                        </div>

                                                        <% if (products.stock !== 0) { %>
                                                            <div class="product-action-1 show">
                                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                                onclick="addToCart('<%=products._id%>','<%=products.stock%>')"><i
                                                                        class="fi-rs-shopping-bag-add"></i></a>
                                                            </div>
                                                        <% } else { %>
                                                            <div class="product-action-1 show">
                                                              <h2 class="in-stock text-danger ml-5" >Out of Stock</h2>
                                                            </div>                                                    
                                                        <% } %>

                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% }) %>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
        </section>


        <section class="section-padding">
            <div class="container wow fadeIn animated">
                <h5 class="section-title mb-20"><span style="color: #ceb97a;">TRENDING </span>ARTICLES FROM THE WATCH
                    GUIDE</h5>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows">
                    </div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="assets/imgs/runningImage/runningslide7.webp"
                                            alt="">
                                        <img class="hover-img" src="assets/imgs/runningImage/runningslide7.webp" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">

                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                        href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                            class="fi-rs-shopping-bag-add"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new" style="color: black">Hot</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Lorem ipsum dolor</a></h2>
                                <!-- <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div> -->
                                <div class="product-price">
                                    <span style="color: black">₹97,350</span>
                                    <span class="old-price">₹99,500</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="assets/imgs/runningImage/runningslide2.webp"
                                            alt="">
                                        <img class="hover-img" src="assets/imgs/runningImage/runningslide2.webp" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                        href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                            class="fi-rs-shopping-bag-add"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new" style="color: black">New</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Aliquam posuere</a></h2>
                                <!-- <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div> -->
                                <div class="product-price">
                                    <span style="color: black">₹86,500</span>
                                    <span class="old-price">₹,88,800</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="assets/imgs/runningImage/runningslide3.webp"
                                            alt="">
                                        <img class="hover-img" src="assets/imgs/runningImage/runningslide3.webp" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                        href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                            class="fi-rs-shopping-bag-add"></i></a>

                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new" style="color: black">Sale</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Sed dapibus orci</a></h2>
                                <!-- <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div> -->
                                <div class="product-price">
                                    <span style="color: black">₹17,800</span>
                                    <span class="old-price">₹18,250</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="assets/imgs/runningImage/runningslide1.webp"
                                            alt="">
                                        <img class="hover-img" src="assets/imgs/runningImage/runningslide1.webp" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                        href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                            class="fi-rs-shopping-bag-add"></i></a>

                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new" style="color: black">-25%</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Curabitur porta</a></h2>
                                <!-- <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div> -->
                                <div class="product-price">
                                    <span style="color: black">₹14,360</span>
                                    <span class="old-price">₹17,405</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="assets/imgs/runningImage/runningslide5.webp"
                                            alt="">
                                        <img class="hover-img" src="assets/imgs/runningImage/runningslide5.webp" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                        href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                            class="fi-rs-shopping-bag-add"></i></a>

                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new" style="color: black">-25%</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Curabitur porta</a></h2>
                                <!-- <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div> -->
                                <div class="product-price">
                                    <span style="color: black">₹42,500</span>
                                    <span class="old-price">₹44,600</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="assets/imgs/runningImage/runningslide6.webp"
                                            alt="">
                                        <img class="hover-img" src="assets/imgs/runningImage/runningslide6.webp" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                        href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                            class="fi-rs-shopping-bag-add"></i></a>

                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new" style="color: black">New</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Praesent maximus</a></h2>
                                <!-- <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div> -->
                                <div class="product-price">
                                    <span style="color: black">₹36,800 </span>
                                    <span class="old-price">₹37,000</span>
                                </div>
                            </div>
                        </div>
                        <!--End product-cart-wrap-2-->
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="assets/imgs/runningImage/runningslide4.webp"
                                            alt="">
                                        <img class="hover-img" src="assets/imgs/runningImage/runningslide4.webp" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                        href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                            class="fi-rs-shopping-bag-add"></i></a>

                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new" style="color: black">New</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">Vestibulum ante</a></h2>
                                <!-- <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div> -->
                                <div class="product-price">
                                    <span style="color: black">₹21,750</span>
                                    <span class="old-price">₹22,800</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>
        <section class="mb-50">
            <div class="container">
                <h3 class="section-title mb-20"><span style="color: #ceb97a;">Today’s</span>Offer</h3>
                <div class="row">
                    <div class="col-12">
                        <div class="banner-bg wow fadeIn animated"
                            style="background-image: url('assets/imgs/slider/slide8.jpg')">
                            <div class="banner-content">
                                <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                                <h2 class="fw-600">. Big Sale Up to
                                    40%</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>


    </main>


    <!-- addToCart -->
    <script>
        function addToCart(proId, stock) {
            if (stock <= 0) {
                Swal.fire({
                    icon: "error",
                    title: "Out of Stock",
                    text: "This product is currently out of stock.",
                });
            } else {
                $.ajax({
                    url: "/addTocart/" + proId,
                    method: "POST",
                    success: (response) => {
                        console.log(response, "response");
                        if (response.status == true) {
                            Swal.fire({
                                title: "Added To Cart",
                                text: "Your Product has been added to Cart",
                                icon: "success",
                                timer: 5000,
                            }).then(() => {
    
                                if (response.newStock !== undefined){
                                    // Select the specific product card by its ID and update the stock
                                    const productStockElement = document.getElementById(`productStock_${proId}`);
                                    if (productStockElement) {
                                        productStockElement.textContent = 'Available stock' + response.newStock;
                                    }
                                }
                            });
    
                        }
    
                         else {
                            location.href = "/login";
                        }
                    },
                    error: (error) => {
                        console.error(error);
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "An error occurred while adding the product to the cart.",
                        });
                    },
                });
            }
        }
        </script>

<script>
	function addToWishList(proId) {
		event.preventDefault();
    $.ajax({
      url: '/addToWishlist',
      method: 'POST',
      data: {
        proId: proId
      },
      success: (response) => {
        if (response.status===true) {
          // Product added to Wishlist successfully
		  Swal.fire({
			position: 'centre',
			icon: 'success',
			title: 'Product added to wish list',
			showConfirmButton: false,
			timer: 1500
			})
          

        } else {
          // Error adding product to Wishlist
          Swal.fire({
            icon: 'error',
            title: 'Product already exist in Wishlist',
            timer: 2000
          });

        }
      }
    })
  }
</script>


    <%-include("footer")-%>